<div class="card">
  <%= link_to project_path(project) do %>
    <div class="card-image" style="background-position:center;background-image: url(<%= project.photos.empty? ? image_path("Logo.jpg") : cl_image_path(project.photos.first.url.url,:width => 300)%>);">
    </div>
    <h3 style="margin-top:10px;"><%= project.name %></h3>
    <% if current_user %>
      <div class="edit-delete-links">
        <%= link_to edit_project_path(project) do %>
          <div class="edit links-circle">
            <%= image_tag 'weld.png', class: "links-icons" %>
          </div>
        <% end %>
        <%= link_to project_path(project), method: "delete" do %>
          <div class="delete links-circle">
            <%= image_tag 'bin.png', class: "links-icons" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
