<div class="navbar-JW">
  <div class="navbar-left">
    <%= link_to "/" do %>
      <%= image_tag "Logo.jpg", class:"jw-logo" %>
    <% end %>
    <div class="navbar-name">
      <p class="no-margin logo-text">JAMES WILD</p>
      <p class="no-margin logo-text offset">SCULPTURE</p>
    </div>
  </div>
  <div class="navbar-right">
    <%= link_to "SCRAP", scrap_path, class:"no-margin navbar-link"%>
    <%= link_to "BRONZE", bronze_path, class:"no-margin navbar-link"%>
    <%= link_to "ABOUT", about_path, class:"no-margin navbar-link"%>
    <p class="no-margin">NEWS</p>
    <%= link_to "CONTACT", contact_path, class:"no-margin navbar-link"%>
  </div>
</div>

