<div class="main-text">
  <h3 class="index-header"><%= title1 %></h3>
</div>
<div class="dcen">
  <div class="about-text" style="margin-top: 50px;">
    <p class="text-center main-content pb"><%= para1 %></p>
    <p class="text-center main-content pb"><%= para2 %></p>
    <p class="text-center main-content pb"><%= para3 %></p>
  </div>
</div>
<% if title2 %>
  <div class="main-text">
    <h3 class="index-header etch"><%= title2 %></h3>
  </div>
<% end %>
<% if type %>
  <% path = "#{type}-circles.png" %>
  <div class="circle-holder">
    <img class="circles" src="<%= image_path(path) %>" alt="Study > Collect > Construct > Cast > Patinate">
  </div>
<% end %>
<div class="home-latest-work">
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="latest-work-card" style="background-image: url(<%= project.photos.empty? ? image_path("James-wolf.png") : cl_image_path(project.photos.first.url, :format => :jpeg, :quality => 10, :width => 300)%>);">
              <div class="latest-work-title"><%= project.name.split.map(&:capitalize).join(" ") %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
