<div class="home-container">
  <div class="home-video">
    <div class="player">
      <%= video_tag "James-Wild-Home.mp4", class: "player__video viewer", autoplay: true, muted: true%>
      <div class="video-logo-holder">
        <div class="logo-and-play">
          <%= image_tag "video-logo.png", class:"video-logo" %>
          <button class="player_button toggle" title="Toggle Play">►</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main-text">
    <p class="text-center main-content">Inspired by the form and movement of nature, James Wild focuses on capturing the essence of the wild through sculpture.</p>
    <p class="text-center main-content">His ambition is to build awareness and appreciation for the wild parts of our planet and the life that inhabits them. Conservation and a love for working from life was the catalyst on which James started sculpting in 2009 and since then he has completed both private and public works of art in the UK and Overseas.</p>
  </div>
  <div class="home-latest-work">
    <h4 class="index-header">LATEST WORK</h4>
    <div class="vertical-margin">
      <div class="container">
        <div class="row">
          <% @projects.each do |project| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= link_to project_path(project) do %>
                <div class="latest-work-card" style="background-image: url(<%= project.photos.empty? ? image_path("bronze_background.png") : cl_image_path(project.photos.first.url.url, quality: "auto:low")%>);">
                  <div class="linear-gradient-hover">
                    <p class="latest-work-type">
                      <%= project.bronze? ? "BRONZE" : "SCRAP" %>
                    </p>
                    <p class="latest-work-title">
                      <%= project.name %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
