<div class="home-container">
  <div class="home-video">
    <div class="player">
      <%= video_tag "https://s3.eu-west-2.amazonaws.com/hoxtondigitalpublicassets/JamesWild/Origwolves_of_scotland_1280x676.mp4", class: "player__video viewer", id: "video_home", loop: true, autoplay: true, muted: true %>
      <div class="video-logo-holder">
        <div class="volume-toggle">
          <%= image_tag "volume_on.png", class:"volume-logo hidden", id: "volume_on" %>
          <%= image_tag "volume_off.png", class:"volume-logo", id: "volume_off" %>
        </div>
        <%= link_to 'https://vimeo.com/310202492', target: "_blank" do %>
          <%= image_tag 'video-link.png', class: "video-text"  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mobile-header">
    <div class="mobile-tag">
      <h3>Young Wolf</h3>
      <h3>Scottish Highlands</h3>
    </div>
  </div>
  <div class="main-text">
    <p class="text-center main-content">Inspired by the form and movement of nature, James Wild focuses on capturing the essence of the wild through sculpture.</p>
    <p class="text-center main-content">His ambition is to build awareness and appreciation for the wild parts of our planet and the life that inhabits them. Conservation and a love for working from life was the catalyst on which James started sculpting in 2009 and since then he has completed both private and public works of art in the UK and Overseas.</p>
  </div>
  <div class="home-latest-work">
    <h3 class="index-header">LATEST WORK</h3>
    <div class="vertical-margin">
      <div class="container">
        <div class="row">
          <% @projects.each do |project| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= link_to project_path(project) do %>
                <div class="latest-work-card" style="background-image: url(<%= project.photos.empty? ? image_path("bronze_background.png") : cl_image_path(project.photos.first.url, :format => :webp, :quality => :auto)%>);">
                  <div class="linear-gradient-hover">
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  const video = document.getElementById("video_home");
  const volumeOn = document.getElementById("volume_on");
  const volumeOff = document.getElementById("volume_off");

  volumeOff.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = false;
  });

  volumeOn.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = true;
  });


  var vid = document.getElementById("video_home");

  vid.onloadeddata = function() {
    vid.style.opacity = 1
};
</script>

