<div class="home-container">
  <div class="home-video">
    <div class="player">

      <video class="player__video viewer" id="video_home" loop="true" autoplay muted>
        <source id="video-source" data-src="https://res.cloudinary.com/hoxton-digital/video/upload/v1548677529/Origwolves_of_scotland_1280x676_1_1_1.mp4" type="video/mp4">
      </video>
      <div class="video-logo-holder">
        <div class="volume-toggle">
          <%= image_tag "volume_on.png", class:"volume-logo hidden", id: "volume_on" %>
          <%= image_tag "volume_off.png", class:"volume-logo", id: "volume_off" %>
        </div>
        <%= link_to 'https://vimeo.com/310202492', target: "_blank" do %>
          <%= image_tag 'video-link.png', class: "video-text"  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mobile-header">
    <div class="mobile-tag">
      <p>Young Wolf</p>
      <p>Scottish Highlands</p>
    </div>
  </div>
  <div class="bg" style="background-image: url(<%= asset_path("w.png") %>);">
    <div class="main-text" style="margin-top: 0px;">
      <p class="text-center main-content">Inspired by the form and movement of nature, <i>James Wild</i> focuses on capturing the essence of the wild through sculpture. <br><br>His ambition is to build awareness and appreciation for the wild parts of our planet and the life that inhabits them. Conservation and a love for working from life was the catalyst on which James started sculpting in 2009 and since then he has completed both private and public works of art in the UK and Overseas.</p>
    </div>
    <div class="main-text">
      <h3 class="index-header">LATEST WORK</h3>
    </div>

    <div class="home-latest-work">
      <div class="container">
        <div class="row">
          <% @projects.each do |project| %>
            <%= link_to project_path(project) do %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="latest-work-card" style="background-image: url(<%= project.photos.empty? ? image_path("James-wolf.png") : cl_image_path(project.photos.first.url, :format => :jpeg, :quality => 10, :width => 300)%>);">
                  <div class="latest-work-title"><%= project.name.split.map(&:capitalize).join(" ") %></div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to bronze_path, class: "circle-holder" do  %>
      <%= image_tag "onewild.png", alt: "FFI logo", class: "home-logo" %>
    <% end %>
  </div>
</div>


<script>
  const video = document.getElementById("video_home");
  const volumeOn = document.getElementById("volume_on");
  const volumeOff = document.getElementById("volume_off");
  const vid = document.getElementById("video_home");

  const width = window.screen.width
  const src = document.getElementById("video-source").getAttribute('data-src')
  if (width > 900) {
    vid.setAttribute('src', src)
  }
  volumeOff.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = false;
  });

  volumeOn.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = true;
  });



  vid.onloadeddata = function() {
    vid.style.opacity = 1
  };


</script>

