<div class="home-container">
  <div id="carouselExampleIndicators" class="carousel rel slide carousel-fade" data-ride="carousel" data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('<%= cl_image_path(@homepage.project_one.photo) %>')">
        <div class="carousel-caption d-md-block">
          <%= link_to project_path(@homepage.project_one), class: "no-hover" do  %>
            <h2 class="display-4">
              <%= @homepage.project_one.name %>
            </h2>
          </div>
          <% end %>
      </div>
      <!-- project Two - Set the background image for this project in the line below -->
      <div class="carousel-item" style="background-image: url('<%= cl_image_path(@homepage.project_two.photo) %>')">
        <div class="carousel-caption d-md-block">
          <%= link_to project_path(@homepage.project_two), class: "no-hover" do %>
            <h2 class="display-4">
              <%= @homepage.project_two.name %>
            </h2>
          <% end %>
        </div>
      </div>
      <!-- project Three - Set the background image for this project in the line below -->
      <div class="carousel-item" style="background-image: url('<%= cl_image_path(@homepage.project_three.photo) %>')">
        <div class="carousel-caption d-md-block">
          <%= link_to project_path(@homepage.project_three), class: "no-hover" do %>
            <h2 class="display-4">
              <%= @homepage.project_three.name %>
            </h2>
          <% end %>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('<%= cl_image_path(@homepage.project_four.photo) %>')">
        <div class="carousel-caption d-md-block">
          <%= link_to project_path(@homepage.project_four), class: "no-hover" do %>
            <h2 class="display-4">
              <%= @homepage.project_four.name %>
            </h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="bg" style="background-image: url(<%= asset_path("w.png") %>);">
    <div class="main-text" style="margin-top: 0px;">
      <div class="tc">
        <%= @homepage.homepage_content %>
      </div>
    </div>
    <div class="main-text">
      <h3 class="index-header"><%= @homepage.work_title %></h3>
    </div>

    <div class="home-latest-work">
      <div class="container">
        <div class="row">
          <% @projects.each do |project| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= link_to project_path(project) do %>
                <div class="latest-work-card" style="background-image: url(<%= project.photos.empty? ? image_path("James-wolf.png") : cl_image_path(project.photos.order(created_at: :desc).first.url, :format => :jpeg, :quality => 40, :width => 300)%>);">
                  <div class="latest-work-title"><%= project.sub.present? ? project.sub&.split&.map(&:capitalize)&.join(" ") : project.name %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-video">
    <div class="player">

      <video class="player__video viewer" id="video_home" loop="true" autoplay muted>
        <source id="video-source" data-src="https://res.cloudinary.com/hoxton-digital/video/upload/v1548677529/Origwolves_of_scotland_1280x676_1_1_1.mp4" type="video/mp4">
      </video>
      <div class="video-logo-holder">
        <div class="volume-toggle">
          <%= image_tag "volume_on.png", class:"volume-logo hidden", id: "volume_on" %>
          <%= image_tag "volume_off.png", class:"volume-logo", id: "volume_off" %>
        </div>
        <%= link_to 'https://vimeo.com/310202492', target: "_blank" do %>
          <%= image_tag 'video-link.png', class: "video-text"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  const video = document.getElementById("video_home");
  const volumeOn = document.getElementById("volume_on");
  const volumeOff = document.getElementById("volume_off");
  const vid = document.getElementById("video_home");

  const width = window.screen.width
  const src = document.getElementById("video-source").getAttribute('data-src')
  if (width > 900) {
    vid.setAttribute('src', src)
  }
  volumeOff.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = false;
  });

  volumeOn.addEventListener('click', function() {
    volumeOn.classList.toggle("hidden");
    volumeOff.classList.toggle("hidden");
    video.muted = true;
  });



  vid.onloadeddata = function() {
    vid.style.opacity = 1
  };


</script>

