<div class="bg" style="background-image: url(<%= asset_path("e.png") %>);">
  <div class="main-text" style="margin-top: 0px">
    <h3 class="index-header" style="letter-spacing: 8px;"><%= @homepage.bronze_title%></h3>
  </div>
  <div class="main-text" style="margin-top: 2.5vw;">
    <a href="#sculptures" class="down"><i class="fas fa-arrow-down"></i></a>
  </div>
  <div class="circle-holder">
    <img class="circles" src="<%= image_path('bronze-circles.png') %>" alt="Study > Collect > Construct > Cast > Patinate">
  </div>
  <div id="sculptures" style="height: 0.5vw; width: 100%;"></div>
  <div class="home-latest-work">
    <div class="container">
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= link_to project_path(project) do %>
              <div class="latest-work-card" style="background-image: url(<%= project.photos.empty? ? image_path("James-wolf.png") : cl_image_path(project.photos.order(created_at: :desc).first.url, :format => :jpeg, :quality => 40, :width => 300)%>);">
                <div class="latest-work-title"><%= project.sub&.split&.map(&:capitalize)&.join(" ") %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5v">
  <div class="tc mb-4">
    <%= @homepage.bronze_content %>
  </div>
</div>














