<div class="show-container">
  <div class="show-text">
    <p class="show-title"><%= @project.name %></p>
    <p><%= sanitize @project.description %></p>
    <p>Patinated finish</p>
  </div>
  <% if @project.photos %>
    <div class="show-images">
      <div class="main-image text-center">
        <img src="<%= cl_image_path @project.photos.first.url, crop: :fill %>" class="image-splash" alt="Main Project Photo">
      </div>
      <div class="other-images">
        <div class="container">
          <div class="row">
            <% @project.photos[1..-1].each do |photo| %>
              <div class="col-xs-6 col-sm-4 col-md-3">
                <img src="<%= cl_image_path photo.url, crop: :fill %>" class="additional-images" alt="Main Project Photo">
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <p>Hey James, the below links are only visible to you</p>
  <p><%= link_to "Edit this project", edit_project_path(@project) %></p>
  <p><%= link_to "Delete this project", project_path(@project), method: :delete %></p>
<% else %>
  <p>This is where the links for a logged in user live</p>
<% end %>
