<div class="show-container">
  <div class="show-text">
    <h3 style="font-size:20px;font-weight: bold;margin-bottom: 20px;text-align:center;"><%= @project.name %></h3>
    <div class="row">
      <% if @project.description != "" %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 deets">
          <p><%= @project.description %></p>
        </div>
      <% end %>
      <% if @project.year != "" %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 deets">
          <p><%= @project.year %></p>
        </div>
      <% end %>
      <% if @project.finish != "" %>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 deets">
          <p><%= @project.finish %></p>
        </div>
      <% end %>
      <% if @project.bronze == true %>
        <% if @project.dimensions != "" %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 deets">
            <p><%= @project.dimensions %></p>
          </div>
        <% end %>
        <% if @project.edition != "" %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 deets">
            <p>Edition <%= @project.edition %></p>
          </div>
        <% end %>
        <% if @project.price != "" %>
          <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 deets">
            <p><%= @project.price %></p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
  <% if @project.photos.length > 0 %>
    <div class="show-images" data-images='<%= @project.photos.reverse.map { |p| p.url.url} %>' id="image-access">
      <div class="main-image text-center">
        <% if user_signed_in? && @project.photos.length > 0 %>
          <%= link_to photo_path(id:@project.photos[0], project:@project), :method => :delete do %>
            <p>&times;</p>
          <% end %>
        <% end %>
        <div class="image-splash" id="main-image" alt="Main Project Photo" data-toggle="modal" data-target="#myModal" style="background-image: url(<%= cl_image_path @project.photos.first.url %>)"></div>
      </div>
      <div class="other-images">
        <div class="container text-center" style="width:100%">
          <div class="row">
            <% @project.photos[1..-1].each do |photo| %>
              <div class="col-xs-12 col-sm-6 col-md-3 image-card">
                <% if user_signed_in? %>
                  <%= link_to photo_path(id:photo, project:@project), :method => :delete do %>
                    <p>&times;</p>
                  <% end %>
                <% end %>
                <img src="<%= cl_image_path photo.url %>" class="additional-images" alt="Main Project Photo" data-toggle="modal" data-target="#myModal">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="hey-james">
      <p>Hey James, the below links are only visible to you</p>
      <% if current_user %>
        <div class="edit-delete-links">
          <%= link_to edit_project_path(@project) do %>
            <div class="edit links-circle">
              <%= image_tag 'weld.png', class: "links-icons" %>
            </div>
          <% end %>
          <%= link_to project_path(@project), method: :delete do %>
            <div class="delete links-circle">
              <%= image_tag 'bin.png', class: "links-icons" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if @project.photos.length > 0 %>
  <div id="myModal" class="modal fade" role="dialog">
    <div data-dismiss="modal"><%= image_tag 'close.png', class: "close-modal-icon", id:"close-modal" %></div>
    <div class="modal-container">
      <div class="modal-image">
        <%= image_tag "back.png", id:"left-trigger" %>
        <%= cl_image_tag @project.photos.first.url, :id=>"modal-image"%>
        <%= image_tag "next.png", id:"right-trigger" %>
      </div>
    </div>
  </div>
<% end %>

<script>
  const mainImage = document.getElementById("main-image")
  const smallImages = document.querySelectorAll('.additional-images')
  const mainStartingImage = mainImage.style.backgroundImage
  const leftTrigger = document.getElementById("left-trigger")
  const rightTrigger = document.getElementById("right-trigger")
  const modalImage = document.getElementById("modal-image")
  let visibleImage = modalImage.src
  const images = JSON.parse(document.getElementById("image-access").dataset.images)
  let currentImage = images.indexOf(visibleImage)

  modalImage.addEventListener('click', function() {
    console.log(modalImage.src)
    modalImage.src = mainStartingImage.image.src
    console.log(modalImage.src)
  })

  smallImages.forEach(function(image) {
    image.addEventListener('mouseover', function() {
      mainImage.style.backgroundImage = mainImage.style.backgroundImage.replace(/http.+\.\w{3,4}/, image.src)
    });
    image.addEventListener('mouseout', function() {
      mainImage.style.backgroundImage = mainStartingImage
    })
    image.addEventListener('click', function() {
      console.log(modalImage.src)
      modalImage.src = image.src
      console.log(modalImage.src)
    })
  });

  // On click this tests to see if the current image is the last image in the array, if it is then the carousel sets the modalImage source to the first image in the array, else it sets it to be the next element in the array

  rightTrigger.addEventListener('click', function() {
    if (currentImage === images.length-1) {
      modalImage.src = images[0]
      visibleImage = modalImage.src
      currentImage = images.indexOf(visibleImage)
    } else {
      modalImage.src = images[currentImage + 1]
      visibleImage = modalImage.src
      currentImage = images.indexOf(visibleImage)
    }
  })

  // Similarly, this tests to see if the current image is the first, if it is then the modalImage source is set to the last image in the array, ''.

  leftTrigger.addEventListener('click', function() {
    if (currentImage === 0) {
      modalImage.src = images[images.length-1]
      visibleImage = modalImage.src
      currentImage = images.indexOf(visibleImage)
    } else {
      modalImage.src = images[currentImage - 1]
      visibleImage = modalImage.src
      currentImage = images.indexOf(visibleImage)
    }
  })

  // Reset the modal to show the first image when the modal is closed

  // document.addEventListener("DOMNodeRemoved",function() {
  //   console.log("I am a bastard function")
  //   modalImage.src = images[0]
  //   visibleImage = modalImage.src
  //   currentImage = images.indexOf(visibleImage)
  // });
</script>
