<div class="news-body" style="background-image: linear-gradient(180deg, rgba(216,216,216,0.44), rgba(216,216,216,0.44)), url('https://res.cloudinary.com/hoxton-digital/image/upload/c_scale,q_61,w_1387/v1548158446/giraffe.jpeg');">
    <h3 class="header-text">NEWS FROM THE WORKSHOP</h3>
    <div class="news-holder">
      <% @updates.each do |update| %>
        <div class="update-card">
          <div class="update-body">
            <div class="fcol">
              <div class="update-header"><%= update.title %> - <%= update.created_at.strftime("%d/%m/%Y") %></div>
              <div class="update-description">
                <%= update.description %>
              </div>
            </div>
            <% if update.url && update.link %>
              <a class="update-link" href="<%= update.url %>"><%= update.link %></a>
            <% end %>
          </div>
          <div class="update-image" style="background-image: url(<%= update.photo? ? cl_image_path(update.photo, :format => :webp, :quality => 10, :width => 150) : image_path("Logo.jpg") %>);"></div>
          <% if current_user %>
          <div class="edit-delete-links">
            <%= link_to edit_update_path(update) do %>
              <div class="edit links-circle">
                <%= image_tag 'weld.png', class: "links-icons" %>
              </div>
            <% end %>
            <%= link_to update_path(update), method: "delete" do %>
              <div class="delete links-circle">
                <%= image_tag 'bin.png', class: "links-icons" %>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
</div>
