<div class="bg" style="background-image: url(<%= asset_path(@bg) %>);">
  <div class="container"  style="padding: 0 5vw;">
    <div class="main-text" style="margin-top: 0px;">
      <h3 class="index-header mb40"><%= @update.title %></h3>
    </div>
    <p class="pb etch"><strong>Posted: <%= @update.created_at.strftime("%d/%m/%Y") %></strong></p>
    <%= cl_image_tag @update.photo, class: "bronze-image" %>
    <div class="dcen">
      <div style="margin-top: 50px;">
        <p class="text-center pb" style="width: 100%;max-height: 85vh;text-align: justify;"><%= @update.description%></p>
      </div>
    </div>
    <% if @update.link.present? %>
      <div>
        <a href="<%= @update.url %>"><%= @update.link %></a>
      </div>
    <% end %>
    <% if current_user %>
      <%= link_to "EDIT", edit_update_path(@update) %>
      <%= link_to "DELETE", update_path(@update), method: :delete %>
    <% end %>
  </div>
</div>

